---
import DetailLayout from "@/layouts/DetailLayout.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { podcastsData, getPodcastDetail } from "@/utils/fetchData";

const { podcastId, episodeId } = Astro.params;

const podcastsList = await podcastsData;
const podcastInfo = await podcastsList.find(
  (podcast) => podcast.id === podcastId
);
console.log(podcastInfo);
const episodesData = await getPodcastDetail(podcastId);
const episodesArray = episodesData.results.slice(1);

const episodes = episodesArray.map((episode) => ({
  id: episode.trackId,
  title: episode.trackName,
  collectionName: episode.collectionName,
  releaseDate: episode.releaseDate,
  duration: episode.trackTimeMillis,
  description: episode.description,
  media: episode.episodeUrl,
}));

const episode = await episodes.find((episode) => episode.id == episodeId);
---

<MainLayout title="Podcaster" />

<DetailLayout podcastInfo={podcastInfo}>
  <article>
    <h1><a href=`/podcast/${podcastId}`>{episode.title}</a></h1>
    <p>{episode.description}</p>
    <audio src={episode.media} controls></audio>
  </article>
</DetailLayout>

<style>
  article {
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  audio {
    width: 100%;
  }
</style>
